/********** Base styles **********/
  * {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;


  }
 
  h1 {
    font-size: 175%;
    text-align: center;
    margin: 20px;
  }
  
  .row {
    margin-left: 20px;
  }

  section {
    float: left;
    position: relative;
  }

  section div {
    background-color: #F2F3F4;
    border: 1px solid black;

    position:relative;
    margin-bottom: 20px;
    margin-right: 20px;

  }

  h2 {
    font-size: 125%;
    padding: 7px;
    border: 1px solid black;

    position:absolute;
    right: 0px;
  }
  h2.vegan { background-color: #52BE80;}
  h2.veget { background-color: #F8C471;}
  h2.omniv {background-color: #EC7063;}

  p {
    margin: 10px;
    margin-top: 50px;
  }

  /* Simple Responsive Framework. 
  /********** Large devices only **********/
  @media (min-width: 992px) {
    .col-lg-4 {
      width: 33.33%;
    }
  }
  
  /********** Medium devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
    
    .col-md-6 {
      width: 50%;
    }
    .col-md-12 {
      width: 100%;
    }
  }

  /********** Small devices only **********/
  @media (max-width: 767px) {
        .col-sm-12 {
          width: 100%;
        }
   }