/********** Base styles **********/
  * {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
 
  h1 {
    font-size: 175%;
    text-align: center;
    margin: 20px;
  }
  
  .row {
    margin-left: 20px;
  }

  .col-lg-4, .col-md-6, .col-md-12,.col-sm-12  {
    float: left;
    position: relative;
  }

  section {
    background-color: #F2F3F4;
    border: 1px solid black;

    position:relative;
    margin-bottom: 20px;
    margin-right: 20px;
  }

  h2 {
    font-size: 125%;
    border: 1px solid black;
    padding: 7px;

    position:absolute;
    right: -1px;
    top: -1px;
  }
  h2.vegan { background-color: #A9D08E;}
  h2.veget { background-color: #E3C598;}
  h2.omniv { background-color: #FAC798;}

  p {
    margin: 10px;
    margin-top: 50px;
  }

  /* Simple Responsive Framework. 
  /********** Large devices only **********/
  @media (min-width: 992px) {
    .col-lg-4 {
      width: 33.33%;
    }
  }
  
  /********** Medium devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
      width: 50%;
    }
    .col-md-12 {
      width: 100%;
    }
  }

  /********** Small devices only **********/
  @media (max-width: 767px) {
        .col-sm-12 {
          width: 100%;
        }
   }